body {
    background-image: url('http://derodecor.vteximg.com.br/arquivos/ids/196222/PP324-1.16M_6.jpg?v=636935332460600000');
}
.content{
    top: 0;
    background:black;
    color:aliceblue ;
    width:  100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
   h1, p {
       text-align:center;
   }